<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ufms.leco" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://leco.ufms.br/">
    <name>MuZooPan</name>
    <description>
        MuZooPan é um jogo educacional para auxiliar alunos durante o passeio no laboratório de zoologia do Campus do Pantanal (UFMS).
    </description>
    <author email="fabrica.software.cpan@gmail.com" href="http://leco.ufms.br/">
        LECO Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <icon density="ldpi" src="www/assets/icon.png" />
        <icon density="mdpi" src="www/assets/icon.png" />
        <icon density="hdpi" src="www/assets/icon.png" />
        <icon density="xhdpi" src="www/assets/icon.png" />
        <icon density="xxhdpi" src="www/assets/icon.png" />
        <icon src="www/assets/icon.png" density="xxxhdpi" />
    </platform>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="Orientation" value="portrait" />
</widget>
