:root{
    --corFonteQuizTextoLido: black; /* Texto lido Quiz */
    --corFundoNormal:#0088b7; /* Cor fundo */
    --corFonteTituloNormal: #fb5a01; /*Sobre e nomeAnimal */
    --corFonteQuizInfo: white; /*acerto, ponto, progresso */
    --corFonteQuizV: #0cff00; /* confirmar, cor fundo acerto, proximo*/
    --corFonteQuizE: #fe0a00; /* fundo error*/
    --corFonteQuizR: #ffff00; /* cor revisar*/
    --corFonteMenu: #fb5a01; /* cor menu tela animal */
    --corFonteTextoLido: black; /* texto lido tela animal */
    --corFonteTextoLidoPadrao: white; /* texto lido padrao */
    --corFundoSelect: #9eccff; /*s select*/
    --corFundoNavAnimal: #ffffffa1;
    --corFonteQuizConfDes: grey;
    --corFundoAlter: white;
    --tamanhoFonte: 15;

    --corFundoCon:#151231; /*cor fundo contraste*/
    --corFundoMenuCont: grey;
    --corFonteTextContras:white; /*cor fonte texto lido contraste*/
    --corFonteMenuCont:black; /*cor fonte menu contraste*/
    --corBarraMenuCon:white;  /*cor barra menu contraste*/
    
    --corFundo: var(--corFundoNormal);
    --corFonteTitulo: var(--corFonteTituloNormal); /*Sobre e nomeAnimal */
    --corFundoMenuOpcao: var(--corFundoNavAnimal);
    --corFundoMenuCorpo: var(--corFundoNavAnimal);
    --corBarraMenu: var(--corFundoSelect);
    --corFonteTextoLidoMenuOpcao: var(--corFonteTituloNormal);
    --corFonteTextoLidoMenuCorpo:var(--corFonteTextoLido);
    --corMarcadorMenu: var(--corFonteTituloNormal);

}
body{
    background-color: var(--corFundo);
    font-size: calc(var(--tamanhoFonte) * 1px) !important;
    color: var(--corFonteTextoLidoPadrao) !important;
}

@font-face {
    font-family: Montserrat;
    src: url("Montserrat-Bold.ttf");
}

@font-face {
    font-family: ComicaBDBold;
    src: url('Comica BD Bold.ttf');
}

p{
    font-family:Montserrat;
    color: var(--corFonteTextoLidoPadrao);
    font-size: calc(var(--tamanhoFonte) * 1px) !important;
    class:"col-sm-md-12";
    text-align: justify;
    text-justify: auto;
}


.title{
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
/*  color: #1b1e21;*/
}
.pergunta{
    
    left: 3vw;

}

.next{
    right: 5vw;

}


.question{
    padding: 4vw;
    background: white;
    border: 20px;
    text-align: center;
}

.question > p{
    color: var(--corFonteQuizTextoLido);
}

.opt{
    display: block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: var(--corFundoAlter);
    color: var(--corFonteQuizTextoLido);
    border: 3vw;
    word-wrap: break-word;
}

.opt:hover, .opt:active{
    background: var(--corFundoSelect);
    color: var(--corFonteQuizTextoLido);
}
.next-btn{
    border:none;
    outline: none;
    color: var(--corFonteQuizConfDes);
}

.next-btn{
    border: none;
    outline:none;
    /*cursor: pointer;*/
}
.next-btn:hover{
    color: var(--corFonteQuizConfDes, #f6f6f6);
}
.next-btn{
    text-align: right;

}

.result{
    text-align: center;
}
.opt:checked{
    background: #38038C;
    color: var(--corFonteTexto);
}
#progress {
    color: var(--corFonteQuizInfo);
}
#foot{
    color: var(--corFonteQuizR); 
}

.nomeTit{
    /*font-size: 2em;*/
}

.texto{
    /*font-size: 1em;*/
    top: 5vw;
}

.styleFont2{
    font-style: normal;
    font-family: ComicaBDBold;
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000,
        /* second layer at 2px */
        -2px -2px 0px #000,
        -1px -2px 0px #000,
         0px -2px 0px #000,
         1px -2px 0px #000,
         2px -2px 0px #000,
         2px -1px 0px #000,
         2px  0px 0px #000,
         2px  1px 0px #000,
         2px  2px 0px #000,
         1px  2px 0px #000,
         0px  2px 0px #000,
        -1px  2px 0px #000,
        -2px  2px 0px #000,
        -2px  1px 0px #000,
        -2px  0px 0px #000,
        -2px -1px 0px #000;
}
.styleFont1{
    padding: 0px;
    font-style: normal;
    font-family: Montserrat;
}
#buttonSobre {
    color: var(--corFonteTitulo);
    /*font-size: 2em;*/
}
.acert{
    top:3vw;
    left:4vw;
}

.pont{
    top:3vw;
    left:1vw;
}


p#acertos{
    color: var(--corFonteQuizInfo);

}
span#pontos, span#qnPontos, span#acertos, span#qnAcertos{
    color:var(--corFonteQuizInfo);
}


p#pontos{
    color: var(--corFonteQuizInfo);
}
div{
    padding: 0px;
}
p#nomeTitulo{
    text-align: center;
    color: var(--corFonteTitulo);
}
span#iconSom{
    color: white;
    /*top:-14vw;*/
}

.img-responsive{
    right: 4vw;
}

#myContainerFluidAnimal{
    padding: 0;
}
/*ul.nav{
    font-size: 0.5em;
}*/
#NavCorpo{
    background-color: var(--corFundoMenuCorpo);
}
#NavMenu{
    background-color: var(--corFundoMenuOpcao);
}
ul.nav li.nav-item.styleFont1{
    background-color: var(--corBarraMenu);
}
ul.nav li.styleFont1 {
    margin: 0 0.5vw 0 0.5vw;
}
ul.nav li.styleFont1:first-child{
    margin: 0 0.5vw 0 0;
}

ul.nav li.styleFont1:last-child{
    margin: 0 0 0 0.5vw;
}
ul.nav li.nav-item.styleFont1 a.nav-link{
    background-color: var(--corBarraMenu);
    color: var(--corFonteTextoLidoMenuOpcao);
    display: inline-block;
    line-height: 2em;
    z-index: 1;
    padding: 1vw;
}
ul.nav li.styleFont1 a:hover{
    text-decoration: none;
}
.tab-pane fade{
    background-color: black;
}
a.active.show{
    border-bottom: 1vw solid var(--corMarcadorMenu);
    padding: 1vw 1vw 0 1vw !important;
}
a.menuAnimal{
    /*font-size: 0.8em;*/
}







td#textFa{
    display: inherit;
}
audio{
    height: 20px !important;
}
#audioFalado{
    position: relative;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */
    width: 90%;
}


p#textEs {
/*    width: 100%;
    min-height: 62vw !important;*/
    color: var(--corFonteTextoLidoMenuCorpo);
    /*clear:both;
    padding: 2vw;*/
    /*font-size: 1em;*/
}



/* erro*/

.sombra{
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
    /*font-size: 14vw;*/
    text-align: center;

}
.mensagem{

    /*font-size: 6vw;*/
    text-align: center;

}
.btn{
    /*font-size: 7vw;*/
}
/*
ex input checkbox button on/off
*/

/* Switch 1 Specific Styles Start */
#contraste{
    background: grey;
    border-radius: 1vw;
    font-size: 0.8em;
}
input[type="checkbox"].switch_1{
    font-size: 1em;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: #94acb7;
    border-radius: 3vw;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: white;
  }
  
  input[type="checkbox"].switch_1:checked{
    background: var(--corFundo);
  }
  
  input[type="checkbox"].switch_1:after{
    position: relative;
    transition: all .2s ease-in-out;
    content: "OFF";

  }
  
  input[type="checkbox"].switch_1:checked:after{
    content: "ON";
    left: calc(100% - 1.5em);
  }
/*
*/
/*
*/
  .Premio{
    width: 40vw;
  }

  .Parabens{
    width: 65vw;
  }
  .img-re{
    position: relative;
    width: 18vw;
  }

  p#textoPonto, p#textoAcertos, p#textoBonus, p#textoRevisao{
    
    margin-bottom: 0rem;
  }

  .buttomSair{
    color: var(--corFonteQuizV);
    /*font-size: 1.2em;*/
    position: relative;
  }


/*
slider volume
*/
 
.slidecontainer{
    background: grey;
    border-radius: 1vw;
    padding: 0.5vw;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4vw;
  border-radius: 5vw;
  background: #1b1a1a;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}




/*
ex menu n

*/



:disabled *{
    pointer-events:none;
}
.w3-sidebar{
    height:100%;
    width: 55%;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
}
.w3-bar-block{
    width:0;
    display:none;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
}
.w3-bar-block{
    text-align:center;
}

@media (max-width:992px){
  .w3-sidebar.w3-collapse{
        display:none;
    } 
}



.overlay3{

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}
#mySidebar{
    width: 0;
    position: relative;
    z-index:150;
    background: var(--corFundo);
}
.icon{
    background: none;
    border: none;
    color: white;
    font-size: 7vw;
}


/*texto falado tela animal */
.player-controls {
        float: left;
    }
         .player-controls span{
            cursor: pointer;
            padding: 0 5px;
            -webkit-transition: all linear 0.2s;
            
        }
         .player-controls span:hover {
            color: #EEE;
        }
    .player-display {
        float: left;
        float: right;
        margin-left: 50px;
    }
        .player-display .player-current-track {
            color: white;
        }
    .player {
        float: left;
    }
    .player-timeline {
        max-height: 36vh;
/*        height: 40vh;*/
        height: 36vh;
        width: 3vw;
        background: #999;
    }
    .player-timeline-control {
        width: 3vw;
        height: 100%;
        background: #555;
    }
span.player-pause{
    display: none;
}