<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../src/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../src/css/index.css">
    <title>Muzoopan</title>
    <script type="text/javascript" src="../src/js/index.js"></script>
    <script type="text/javascript" src="../src/js/template7/template7.min.js"></script>
    <script src="../src/vendors/bootstrap/js/jquery-slim.min.js"></script>
</head>
<body>



    <div class="container">
        <div id="quiz1" class="container-fluid">
            <p id="acertos" class="styleFont2">Acertos</p>
            <p id="pontos" class="styleFont2">Pontos</p>
        </div>
            <div class="container" style="text-align: center">

                <div id="question" class="question"><p style="color: #000000 " class="styleFont1"> Questao ashdhbas ahfbhf rsjkfjrsjfr ufndsjk furn vrfus dhsdf sdfhsf hr fhrfsfsjd </p></div>
                <div class="container">
                    <label class="opt"><span id="opt1" class="styleFont1"></span>HGIL</label>
                    <label class="opt"><span id="opt2" class="styleFont1"></span>THIS</label>
                    <label class="opt"><span id="opt3" class="styleFont1"></span>SH*T</label>
                    <label class="opt"><span id="opt4" class="styleFont1"></span>BOB</label>
                </div>
            </div>
            <div class="container-fluid">
                
                <footer>
                    <p id="foot" class="styleFont2">Revisar</p>
                    <p id="progress" class="styleFont2">Question x of y</p>
                    <p id="nextButton" class="next-btn styleFont2" onclick="loadNextQustion();">Confirmar</p>
                </footer>
            </div>
    <script src="../src/vendors/bootstrap/js/jquery-slim.min.js"></script>
    <script type="text/javascript" src="../src/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../src/js/viewController.js"></script>
    <script src="../src/vendors/bootstrap/js/popper.min.js"></script>
    <script src="../src/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../src/js/question.js"></script>
    <script src="../src/js/quiz.js"></script>
    <script src="../src/js/app.js"></script>
</body>
</html>
