
<script id="about" type="text/template7">

    <button id="buttonMenu" class="icon align-self-start col-1 mt-3 p-0"> 
            <span  class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </button>
    <div id="aboutd" class="container-fluid mt-4">
        <p>{{cabecalho}}</p>
        <p>{{funciona}}</p>
        <p>{{quiz}}</p>
        <p>{{quem}}</p>
    </div>
</script>


<script id="premio" type="text/template7">
    <button id="buttonMenu" class="icon align-self-start col-1 mt-3 p-0"> 
            <span  class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </button>
    <div id="premioT">
        <img id="parabensImg" class="rounded mx-auto d-block img-responsive Parabens" src={{this.conteudo.imagemParabens}}> 

        {{#each conteudo.Premio}}
            {{#js_if "this.nome === @root.premiacao.premio" }}

                <div class="container">
                    <div class="row align-items-start">
                        <div class="col">
                            <img id="fogos0" src="../files/img/firework.gif" class="img-re offset-1" alt="animated">
                        </div>
                        <div class="col">
                            <img id="fogos1" src="../files/img/firework.gif" class="img-re offset-5" alt="animated">
                        </div>    
                    </div>
                </div>  

                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-5">
                            <img class="img-fluid float-left Premio" id="premioImg" src={{caminho}}>
                        </div>
                        <div class="col-6">
                            <p id="textoMot" style={{estilo}}>
                            {{textos.texto0}} {{@root.premiacao.acertos}} {{textos.texto1}} {{@root.premiacao.pontos}} {{textos.texto2}}
                            </p>
                        </div>
                    </div>
                </div>
                <audio id="premioAudio" autoplay src="{{@root.conteudo.premioSound}}">
                </audio>


                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-4">
                            <p id="textoPonto">
                              Pontos: {{@root.premiacao.pontos}}
                           </p>
                        <p id="textoAcertos">
                            Acertos: {{@root.premiacao.acertos}}
                        </p>
                        <p id="textoBonus">
                         Bônus: {{@root.premiacao.bonus}}
                        </p>
                        <p id="textoRevisao">
                            Revisões: {{@root.premiacao.revisao}}
                        </p>    
      
                        </div>
                        <div class="col-6">
                            <img id="fogos0" src="../files/img/firework.gif" class="offset-4" style="width:35vw" alt="animated">
                        </div>
                    </div>
                </div>



                </div>
            {{/js_if}}
        {{/each}}
        <div class="offset-5 buttomSair font-maior styleFont2">
            <span onclick="exit()"> Sair </span>
        </div>
    </div>

</script>
<script id="obj" type="text/template7">
        <div class="row p-0 m-0 mt-2">
            <button id="buttonMenu" class="icon align-self-start col-1 mt-1 p-0"> 
            <span  class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </button>
            <p id="nomeTitulo" class="nomeTit styleFont2 font-maior col-9">{{name}}</p>
            {{#if animalSound}}
                <div class="icon">

                    <audio id="playIcon" src={{animalSound}}>
                    </audio>
                        <span id= "" class="iconsom offset-10 ml-4 glyphicon glyphicon-volume-up" aria-hidden="true" onclick="document.getElementById('playIcon').play()">
                        </span>
                </div>
            {{/if}}
        </div>
        
        <div id="myContainerAnimal" class="container pr-0 pl-0">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner mb-3">
                    {{#each midia.imgs}}
                        {{#js_if "@index"}} 
                            <div class="carousel-item text-center"> 
                        {{else}}
                            <div class='carousel-item text-center active'>
                        {{/js_if}}
                                <img class="h-50 w-100" src={{img}}>
                            </div>
                    {{/each}}

                    {{#if midia.videos[0]['video'] }}
                        {{#each midia.videos}}
                            <div class="carousel-item text-center video"> 
                                  <div class="view">
                                    <video onpause="continuaTudo(this)" onended="continuaTudo(this)" onplay="paraTudo(this)" class="h-50 w-100" controls>
                                      <source src={{video}} type={{type}} />
                                    </video>
                                  </div>
                            </div>
                        {{/each}}
                    {{/if}}

                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon icon glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon icon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>

            <div id="myContainerFluidAnimal" class="container-fluid">
                <ul id ="NavMenu"class="nav nav-pills nav-justified m-1">
                    {{#each menus}}
                        <li class="styleFont1 nav-item mt-1 ml-1 mr-1">
                            <a class=" marcado btn col  nav-link" data-toggle="pill" href=#{{js "'menu'+@index"}}> <span>{{menu}}</span>
                            </a>
                        </li>
                    {{/each}}
                </ul>
                <div id="NavCorpo" class="tab-content">
                    {{#each menus}}
                        {{#js_if "@index"}} 
                            <div id={{js "'menu'+@index"}} class="tab-pane fade">
                        {{else}}
                            <div id={{js "'menu'+@index"}} class="tab-pane fade in active">
                        {{/js_if}}
                                <div class="row p-0 m-0 p-1">
                                    <p id="textEs" class="col ml-2 p-0">{{text}}</p>
                                    {{#if textSound}}
                                        <div class="col-1 m-0 p-0">
                                            <div class="row m-0 p-0"> 
                                                <div class="player-controls col-8 text-center">
                                                    <span id={{js "'play_menu'+@index"}} class="icon player-play glyphicon glyphicon-play m-0 p-0"></span>
                                                    <span id={{js "'pause_menu'+@index"}} class="icon player-pause glyphicon glyphicon-pause m-0 p-0"></span>
                                                    <audio class="player m-0 p-0"  src={{textSound}} type="audio/mpeg"></audio>
                                                </div>
                                                <div class="col-12 progressAu p-2">
                                                    <div id={{js "'player-timeline_menu'+@index"}} class="mx-auto player-timeline">
                                                        <div id={{js "'player-timeline-control_menu'+@index"}} class="player-timeline-control"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/if}}
                                </div>
                          
                            </div>
                    {{/each}}
                </div>
            </div>
        </div>
</script>

<script id="Error404" type="text/template7">
    <button id="buttonMenu" class="icon align-self-start col-1 mt-3 p-0"> 
            <span  class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </button>
    <div id="404" class="container">
        <p id="ops" class="sombra mt-5">Ops!</p>
        <img class="displayed col-8 offset-2" src="../files/img/imagemErro.png">
        <p id="msg" class="mensagem mt-3">{{mensagem}}</p>
        {{#js_if "!(this.anterior)||(this.anterior && this.anterior.vou !== 'revisao')"}}
           <p id="button" class="btn styleFont2 col-sm-12 col-md-8" style="text-align:center" onclick="inicio();">Início</p>
        {{/js_if}} 

    </div>
</script>
<script id= "quiz" type="text/template7">

<div class="container">
  <div id="quiz1" class="row">
    <div class="col- ml-1">
        <button id="buttonMenu" class="icon align-self-start mt-2 p-0">
            <span  class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>    
    </div>
    <div id="quiz1" class="col-5 mt-2 ml-2 text-left">
         <span id="acertos" class="styleFont2 row">Acertos</span>
                <span id="qnAcertos" class="styleFont2">Acertos</span>
    </div>
    <div class="col-2 offset-3 p-0 mt-2 text-center">
        <span id="pontos" class="styleFont2">Pontos </span>
            <span id="qnPontos" class="styleFont2 row justify-content-center">Pontos</span>
                <div class="thumbnail">
                    <img id="barra0" class="img-fluid" src="../files/img/bar_.png" alt="..." >
                </div>
                
    </div>
  </div>



<div class="container col-12 mt-4 p-0">
   
        <div class="container">
            <div id="question" class="question mt-1 ml mr">
                <p class="styleFont1">  </p>
            </div>
        </div>
        <div class="container p-0">
            <div class="col mt-4 p-0 styleFont1">
                <div class = "">
                    <div id="alternativa" class = "col-10 offset-1 mb-4">
                        <label class="opt cont"><span id="opt1" class=""></span></label>
                    </div>
                </div>
                <div class=""> 
                    <div id="alternativa" class = "col-10 offset-1 mb-4">
                        <label class="opt cont"><span id="opt2" class=""></span></label>
                    </div>
                </div>
                <div class="">
                    <div id="alternativa" class = "col-10 offset-1 mb-4">
                        <label class="opt cont"><span id="opt3" class=""></span></label>
                    </div>
                </div>
                <div class="">
                    <div id="alternativa" class = "col-10 offset-1 mb-4">
                        <label class="opt cont"><span id="opt4" class=""></span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 p-0">
                    <span id="progress" class="col-lg-12 col-lg-8 mb-2 styleFont2" style="text-align: center">Pergunta x / y</span>
                    <span id="foot" class="col-5 foot styleFont2">REVISAR</span>
                    <span id="next-btn" class="col-7 m-0 next-btn styleFont2" style="text-align: right">CONFIRMAR</span>
        </div>
</div>
</script>
