    <html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="../src/vendors/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../src/css/index.css">
        <link rel="stylesheet" type="text/css" href="../src/vendors/bootstrap/css/bootstrap-3-3-7.min.css">
        
        <title>Muzoopan</title>
        <script type="text/javascript" src="../src/js/template7/template7.min.js"></script>
        <script src="../src/vendors/bootstrap/js/jquery-slim.min.js"></script>
        <script src="../src/vendors/bootstrap/js/popper.min.js"></script>
        <script src="../src/vendors/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../src/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../cordova.js"></script>
        <script src="../src/js/animal.js"></script>
        <script src="../src/js/app.js"></script>
        <script src="../src/js/quiz.js"></script>
    </head>
    <body>
        <!-- Sidebar -->
          <div id="myCanvasNav" class="overlay3"></div>

        <div class="w3-sidebar w3-bar-block w3-border-right " id="mySidebar">
            <div class="col-12 mt-2">
                <p class="styleFont2 text-center">OPÇÕES</p>
            </div>          
            <div class="col-12 mt-2">
                <label for="volume">Volume</label>
                <div class="slidecontainer">
                    <input type="range" step="5" class="form-control-range slider" id="volume" min="0" max="100">
                </div>
            </div>
            <div class="col-12 mt-2 p-1">
                <label for="contraste" id="text">Alto-contraste</label>
                <div id="contraste" class="p-1 m-0 ml-4 mr-4">
                    <input name="contraste" id="estilo" type="checkbox" class="switch_1 col-12 p-0">
                </div>
            </div>
             <div class="col-10">
                <label for="validationTooltipUsername">Fonte</label>
              <div class="input-group ml-4 pr-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="diminuiFonte">-</span>
                </div>

                <input type="text" class="form-control col-4 p-0" style="text-align:center" id="fonte" aria-describedby="validationTooltipUsernamePrepend" required="">
                <div class="input-group-append">
                    <span class="input-group-text" id="aumentaFonte">+</span>
                </div>
        
              </div>
            </div> 
        </div>

        <!-- Page Content -->

            <div id="visible">
                        
            </div>
            <div id="invisible"></div>

         
        
        <!-- <script src="../src/js/question.js"></script> -->
        <script src="../src/js/viewController.js"></script>
    </body>
</html>