:root{
    --corFonteQuizTextoLido: black; /* Texto lido Quiz */
    --corFundo:#0088b7; /* Cor fundo */
    --corFonteTitulo: #fb5a01; /*Sobre e nomeAnimal */
    --corFonteQuizInfo: white; /*acerto, ponto, progesso */
    --corFonteQuizV: #0cff00; /* confirmar, cor fundo acerto, proximo*/
    --corFonteQuizE: #fe0a00; /* fundo error*/
    --corFonteQuizR: #ffff00; /* cor revisar*/
    --corFonteMenu: #fb5a01; /* cor menu tela animal */
    --corFonteTextoLido: black; /* texto lido tela animal */
    --corFonteTextoLidoPadrao: white; /* texto lido padrao */
    --corFundoS: #9eccff;
    --corFundoMenuS: #ffffffa1;
    --corFundoSMenu: #ffffffa1;
    --corFonteQuizConfDes: grey;
    --corFundoAlter: white;
    --corFundoCon:#151231; /*cor fundo contraste*/
    --corFonteTextContras:white; /*cor fonte texo lido contraste*/
    --corFonteMenuCont:black; /*cor fonte menu contraste*/
    --corBarraMenuCon:white;  /*cor barra menu contraste*/
    --tamanhoFonte: 3;
}
body {
    background-color: var(--corFundo);
    font-size: calc(var(--tamanhoFonte) * 1px)!important ;
}


@font-face {
    font-family: Montserrat;
    src: url("Montserrat-Bold.ttf");
}

@font-face {
    font-family: ComicaBDBold;
    src: url('Comica BD Bold.ttf');
}

p{
    font-family:Montserrat;
    color: var(--corFonteTextoLidoPadrao);
    class:"col-sm-md-12";
    text-align: justify;
    text-justify: auto;
}

.title{
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
/*  color: #1b1e21;*/
}
.pergunta{
    
    left: 3vw;

}

.next{
    right: 5vw;

}


.question{
    padding: 4vw;
    background: white;
    border: 20px;
    text-align: center;
}

.question > p{
    color: var(--corFonteQuizTextoLido);
}

.opt{
    display: block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: var(--corFundoAlter);
    color: var(--corFonteQuizTextoLido);
    border: 3vw;
    word-wrap: break-word;
}

.opt:hover, .opt:active{
    background: var(--corFundoS);
    color: var(--corFonteQuizTextoLido);
}
.next-btn{
    border:none;
    outline: none;
    color: var(--corFonteQuizConfDes);
}

.next-btn{
    border: none;
    outline:none;
    /*cursor: pointer;*/
}
.next-btn:hover{
    color: var(--corFonteQuizConfDes, #f6f6f6);
}
.result{
    text-align: center;
}
.opt:checked{
    background: #38038C;
    color: var(--corFonteTexto);
}
#progress {
    color: var(--corFonteQuizInfo);
}
#foot{
    color: var(--corFonteQuizR); 
    left:1vw;
}

.nomeTit{
    font-size: 9vw;
}

.texto{
    font-size: 5vw;
    top: 5vw;
}

.styleFont2{
    font-style: normal;
    font-family: ComicaBDBold;
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000,
        /* second layer at 2px */
        -2px -2px 0px #000,
        -1px -2px 0px #000,
         0px -2px 0px #000,
         1px -2px 0px #000,
         2px -2px 0px #000,
         2px -1px 0px #000,
         2px  0px 0px #000,
         2px  1px 0px #000,
         2px  2px 0px #000,
         1px  2px 0px #000,
         0px  2px 0px #000,
        -1px  2px 0px #000,
        -2px  2px 0px #000,
        -2px  1px 0px #000,
        -2px  0px 0px #000,
        -2px -1px 0px #000;
}
.styleFont1{
    padding: 0px;
    font-style: normal;
    font-family: Montserrat;
}
#buttonSobre {
    color: var(--corFonteTitulo);
    font-size: 7vw;
}

.acert{
    top:3vw;
    left:4vw;
}

.pont{
    top:3vw;
    left:1vw;
}


p#acertos{
    color: var(--corFonteQuizInfo);

}
span#pontos, span#qnPontos, span#acertos, span#qnAcertos{
    color:var(--corFonteQuizInfo);
}


p#pontos{
    color: var(--corFonteQuizInfo);
}
div{
    padding: 0px;
}
p#nomeTitulo{
    text-align: center;
    color: var(--corFonteTitulo);
}
span#iconSom{
    color: white;
}
#myContainerAnimal{
}
div#carouselExampleControls{
}
img.d-block{
}

.img-responsive{
    right: 4vw;
}

#incorrect{
    width: 10%;
    right: 40vw
}

#correct{
    width: 10%;
    right: 40vw
}


.carousel-control-next-icon, .carousel-control-prev-icon {
}
#myContainerFluidAnimal{
    padding: 0;
    background-color: var(--corFundoSMenu);
}
ul.nav{
    font-size: 3vw;
}
ul.nav li.styleFont1 a{
    background-color: var(--corFundoS);
    color: var(--corFonteTitulo);
    display: inline-block;
    line-height: 9vw;
    z-index: 1;
    padding-left: 5vw;
    padding-right: 1.8vw;
}
ul.nav li.styleFont1 a:hover{
    text-decoration: none;
}
.tab-pane fade{
    background-color: black;
}
a.active.show{
    border-bottom: 5px solid orange;
}
td{
}

td#textEs{
    font-size: 4vw;
}

td#textFa{
    display: inherit;
}
audio#audioFalado{
    position: absolute;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */
}
td > p {
    width: 100%;
    min-height: 62vw !important;
    color: var(--corFonteTextoLido);
    clear:both;
    padding: 2vw;
    font-size: calc(var(--tamanhoFonte) * 1vw);
}



/*
ex menu n

*/


.w3-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
}

.w3-button{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}   

.w3-button:disabled{
    cursor:not-allowed;
    opacity:0.3;
}

:disabled *{
    pointer-events:none;
}
.w3-sidebar{
    height:100%;
    width: 55%;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
}
.w3-bar-block .w3-bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
}
.w3-bar-block .w3-bar-item{
    text-align:center;
}

@media (max-width:992px){
  .w3-sidebar.w3-collapse{
        display:none;
    } 
}
.w3-large{
    font-size:18px!important;
}
.w3-xlarge{
    font-size:24px!important;
}
#mySidebar{
    display:none;
}
.w3-button:hover{
    color:#000!important;
    background-color:#ccc!important;
}

/* erro*/

.sombra{
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
    font-size: 14vw;
    text-align: center;

}
.mensagem{

    font-size: 6vw;
    text-align: center;

}
.btn{
    font-size: 7vw;
}
